.activity-from{
    display:inline-block;
}

h3 {
    display:inline-block;
    margin: 10px;
}

.wrapper{
    margin-bottom: 40px;
    background-color:#ebfef2;
    border: 2px solid #ccdcda;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
}

input{
    margin: 10px;
    width: 100px;
    padding: 7px;
}

button {
    margin: 10px; 
    width: 100px;
    padding: 7px;
    background-color: #49525d; 
    color: #ccdcda;
}

select {
    margin: 10px; 
    width: 100px;
    padding: 7px; 
}